{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'dashboard/styles/main.css' %}">
{% endblock %}

{% block body %}
<section class="applications-container">
  <table class="applications-table">
    <thead>
      <tr>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="name">Name</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="email">Email</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="type">Type</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="technology">Technology</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="status">Status</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="moved-by">Moved By</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="updated-on">Updated On</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
        <th onclick="sort_applications(this.firstElementChild.firstElementChild)">
          <div class="th-cell">
            <span id="applied-on">Applied On</span>
            <i class="fa fa-sort-desc"></i>
            <i class="fa fa-sort-asc"></i>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="applications-table-body"></tbody>
  </table>
</section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'dashboard/js/main.js'%}"></script>
{% endblock %}
