{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'dashboard/styles/main.css' %}">
{% endblock %}

{% block body %}
<section class="applications-container">
  <table class="applications-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Technology</th>
        <th>Status</th>
        <th>Moved By</th>
        <th>Updated On</th>
        <th>Applied On</th>
      </tr>
    </thead>
    <tbody id="applications-table-body"></tbody>
  </table>
</section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'dashboard/js/main.js'%}"></script>
{% endblock %}
